.header {
	padding: 15px 15px 0;
}

.header__logo-container {
	height: 100px;
}

.header__logo {
	height: 100px;
}

.header__actions-container {
	width: 150px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.header__cart-container {
	cursor: pointer;
}

.header__cart-container img:active {
	width: 45px;
	height: 45px;
}

.header__orders-history {
	cursor: pointer;
}

.header__orders-history:hover {
	color: green !important;
}

.header__orders-history:active {
	font-size: 16px !important;
}

.contacts-email-link {
	color: #4D4949;
}

.contacts-email-link:hover {
	text-decoration: none;
	color: #4D7070;
}

@media (max-width: 768px) {
	.header__content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}

	.header__logo-container {
		margin-bottom: 15px;
	}

	.header__actions-alignment {
		justify-content: center !important;
	}
}
