.section-gallery__title {
	font-size: 26px !important;
}

.section-gallery__card {
	height: 300px;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px !important;
}

.section-gallery__product-image-block {
	height: 200px;
	background-image: url("../img/pizza.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.section-gallery__product-image {
	height: 100%;
}

.section-gallery__order-btn {
	align-self: center;
}
