@import 'fonts.css';
@import 'header.css';
@import 'footer.css';

body,table,video,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td,canvas,embed,output,ruby,summary,time,mark,audio,html,q,blockquote,ul,ol,section,aside,details,figure,figcaption,footer,header,hgroup,menu,nav,article{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}table{border-collapse:collapse;border-spacing:0}q,blockquote{quotes:none}ul,ol{list-style:none}section,aside,details,figure,figcaption,footer,header,hgroup,menu,nav,article{display:block}q:after,blockquote:after,q:before,blockquote:before{content:none}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "HindSiliguri" !important;
	font-size: 17px !important;
	line-height: 26px !important;
	font-weight: normal !important;
	color: #4D4949;
}

body {
	background-color: #F8F8F8;
	height: 100vh !important;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
}

.btn {
  font-family: "HindSiliguri" !important;
  font-size: 18px !important;
  line-height: 25px;
  border: 1px solid #393737;
}

.btn:hover {
  background-color: #393737;
  color: white;
  cursor: pointer;
}

.btn:active {
	font-size: 17px !important;
}

.pagination {
	margin-bottom: 30px;
}

.pagination__items-divider {
	margin: 0 10px;
}

.product-describe-container {
	min-height: 420px;
	padding: 0;
}

.product-describe__image img {
	width: 100%;
}

.product-describe__title {
	font-size: 30px !important;
	margin-bottom: 25px;
}

.product-describe__price {
	font-size: 30px !important;
	margin-bottom: 25px;
	color: green;
}

.product-describe__price-currency {
	font-size: 20px !important;
	color: green;
}

.product-describe__counter {
	display: flex;
	align-items: center;
}

.product-describe__counter-btn {
	font-size: 24px !important;
	height: 40px;
	width: 40px;
}

.product-describe__quantity {
	margin: 0 20px;
}

.product-describe__issue-order-btn {
	cursor: pointer;
	border-bottom: 1px dashed #393737;
}

.product-describe__issue-order-btn:active {
	font-size: 16px !important;
}
