.section-gallery__title {
	font-size: 26px !important;
}

.section-gallery__card {
	min-height: 300px;
	padding-bottom: 30px !important;
}

.section-gallery__card-content-wrapper {
	border: 1px solid #393737;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100%;
}

.section-gallery__card-content-wrapper:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.section-gallery__product-image-block {
	height: 200px;
}

.section-gallery__product-image {
	width: 100%;
	height: 100%;
}

.section-gallery__card-descr {
	height: 100%;
}

.section-gallery__order-btn {
	align-self: center;
}
